<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="SqlServer" connectionString="Server=LAPTOP-1DERTSDM\\MSSQLSERVER2019;Database=test;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
    <add name="SqlServer" connectionString=" Server=LAPTOP-1DERTSDM\MSSQLSERVER2019;Database=test;User ID=sa;Password=root;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>